{% extends 'base.html' %} {% load static %} 
{% block title %}Login{% endblock title %} 
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/sections/login/main.css' %}" />
{% endblock stylesheet %} {% block nav %}{% endblock nav %} {% block content %}
<main>
  <div class="flex w-screen justify-center ">
    <div class="w-screen m-10 p-5">
      <h1 class="text-2xl py-7">Keribium</h1>
      <div class="">
        <h2 class="text-transparent text-outline-1-primary-color text-4xl py-3" id="signin">Sign In</h2>
        <h3 class="font-clash-display-regular">New User? <a class="text-primary-color" href="#">Sign up</a></h3>
      </div>
    </div>
    <div class="w-screen">
      <img src="{% static 'img/logo-white.svg' %}" alt="logo" class=" h-full float-right"/>
    </div>
  </div>

  <div class="flex w-screen justify-center ">
    <div class="w-screen mx-10 p-5">
      <form action="/api/login/" method="post">
        {% csrf_token %}
        <div class="flex flex-col my-5">
          <input placeholder="example@gmail.com" type="text" name="email" id="email" class="border-2 border-primary-color rounded-md p-2 bg-transparent" />
        </div>
        <div class="flex flex-col my-5">
          <input placeholder="password" type="password" name="password" id="password" class="border-2 border-primary-color rounded-md p-2 bg-transparent" />
        </div>
        <div class="flex">
          <input type="submit" value="sign in" class="bg-secondary-color text-black font-clash-display-regular rounded-l-md p-2 w-auto text-left" />
          <img src="{% static 'assets/line.svg' %}" alt="" srcset="" class="bg-secondary-color px-5 rounded-r-md">
        </div>
      </form>
    </div>
    
    <div class="flex flex-col w-auto">
      <div class=" h-[250px] min-h-[1em] w-px self-stretch bg-gradient-to-tr from-transparent via-neutral-500 to-transparent opacity-20 dark:opacity-100 m-auto"></div>
      <div class="font-clash-display-semi-bold text-gray-500 py-4">OR</div>
    </div>
    
    <div class="m-5 object-right w-screen">
      <form action="/login/" method="post">
        {% csrf_token %}
        <div class="flex p-5">
          <img src="{% static 'assets/github.svg' %}" alt="" srcset="" class="bg-secondary-color px-5">
          <input type="submit" value="Sign in with Github" class="bg-secondary-color text-black font-clash-display-medium p-2 px-2 w-44 text-left" />
        </div>
      </form>
      <form action="/login/" method="post">
        {% csrf_token %}
        <div class="flex p-5">
          <img src="{% static 'assets/google.svg' %}" alt="" srcset="" class="bg-secondary-color px-5">
          <input type="submit" value="Sign with Google" class="bg-secondary-color text-black font-clash-display-medium p-2 px-2 w-44 text-left" />
        </div>
      </form>
      
    </div>
  </div>
</main>
{% endblock content %}
