{% extends 'base.html' %} {% load static %} 
{% block title %}Login{% endblock title %} 
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/sections/login/main.css' %}" />
{% endblock stylesheet %} {% block nav %}{% endblock nav %} {% block content %}
<main>
  <div class="flex w-screen justify-center ">
    <div class="w-screen m-10 p-5">
      <h1 class="text-2xl py-7">Keribium</h1>
      <div class="">
        <h2 class="text-transparent text-outline-1-primary-color text-4xl py-3">Sign In</h2>
        <h3 class="font-clash-display-regular">New User? <a class="text-primary-color" href="#">Sign up</a></h3>
      </div>
    </div>
    <div class="w-screen">
      <img src="{% static 'img/logo-white.svg' %}" alt="logo" class=" h-full float-right"/>
    </div>
  </div>

  <div class="flex w-screen justify-center ">
    <div class="w-screen mx-10 p-5">
      <form action="" method="post">
        {% csrf_token %}
        <div class="flex flex-col my-5">
          <input placeholder="example@gmail.com" type="text" name="username" id="username" class="border-2 border-primary-color rounded-md p-2 bg-transparent" />
        </div>
        <div class="flex flex-col my-5">
          <input placeholder="password" type="password" name="password" id="password" class="border-2 border-primary-color rounded-md p-2 bg-transparent" />
        </div>
        <div class="flex">
          <input type="submit" value="sign in --->" class="bg-secondary-color text-black font-clash-display-medium rounded-md p-2 px-2 w-64 text-left" />
        </div>
      </form>
    </div>
    <div class="object-right w-screen">
      
    </div>
</main>
{% endblock content %}
